<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.keeper.keeper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Home">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".SalesActivity">
        </activity>
        <activity
            android:name=".StocksActivity"
            android:label="Inventory"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="New Inventory Item"
            android:parentActivityName=".StocksActivity">
        </activity>
        <activity
            android:name=".AddCategoryActivity"
            android:label="New Category"
            android:parentActivityName=".StocksActivity">
        </activity>
        <activity
            android:name=".EditProductActivity"
            android:label="Update Product"
            android:parentActivityName=".StocksActivity">
        </activity>
        <activity
            android:name=".ReportsActivity"
            android:label="@string/title_activity_reports"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".IntroActivity"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressBookActivity"
            android:label="Contacts"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QuotesOrdersActivity"
            android:label="Quotes and Orders"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>